apiVersion: v1
kind: Service
metadata:
  name: iotdb
spec:
  ports:
    - port: 6667
      name: rpc
  selector:
    app: iotdb
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: iotdb
spec:
  serviceName: iotdb
  replicas: 1
  selector:
    matchLabels:
      app: iotdb
  template:
    metadata:
      labels:
        app: iotdb
    spec:
      containers:
        - name: iotdb
          image: apache/iotdb:1.3.5-standalone
          ports:
            - containerPort: 6667
              name: rpc
          readinessProbe:
            tcpSocket:
              port: 6667  # ConfigNode port
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
          volumeMounts:
            - name: iotdb-data
              mountPath: /iotdb/data
            - name: iotdb-logs
              mountPath: /iotdb/logs
      volumes:
        - name: iotdb-logs
          emptyDir: {}
  volumeClaimTemplates:
    - metadata:
        name: iotdb-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 10Gi
